<div class="post">
  <div class="post-heading">
    <p class="name"><%= link_to("Chloe Atchue-Mamlet", "#") %></p>
  </div>
  <div class="post-image">
    <%= image_tag @post.image.url(:medium) %>
  </div>
  <div class="post-info">
    <p><%= @post.caption %></p>
  </div>
  <div class="edit-links">
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-default btn-xs" %>
    <%= link_to "Delete", "#", class: "btn btn-danger btn-xs" %>
  </div>
</div>